*{
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
@font-face {
  font-family: Ailerons;
  src: url("../../fonts/Ailerons.otf");
}
@font-face {
  font-family: Round;
  src: url("../../fonts/Round.otf");
}



/***** 09/09/2020 ******/
/***********************/
/* Inicio de la pagina */
/***********************/
.inicio{
  background-size: cover;
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 3px; 
  background: rgb(80,201,127);
  background: linear-gradient(90deg, rgba(80,201,127,1) 0%, rgba(16,189,222,1) 100%);
}
.tituloInicio p{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Round;
  color: white;
  font-size: 9vw;
}
.imgInicio img{
  width: 10vw;
  height: auto;
  transition: all 0.5s;
}
.imgInicio img:hover{
  transform: scale(1.05);
}







@media screen and (max-width: 500px) {
  .carrousel,
  .imageContainer {
    width: 100%;
  }
}






@media screen and (max-width: 1024px) {


  /* Inicio */
  /*.tituloInicio{
    display: none;
  }
  .titulo-mobile-inicio{
    display: flex;
  }
*/


}
